.App {
  text-align: center;
}

/* span.MuiIconButton-label > .MuiIcon-root {
  display: none;
  size: 100px;
} */

.list {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-around;
  margin: 5px, 5px;
  padding: 10px;
  width: 98.7%;
  height: 12em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.listName {
  color: white;
  margin: 1rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 10%;
  height: 100%;
  width: 100%;
}

