.App {
  text-align: center;
}
.container {
  position: relative;
  left: 17%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  position: relative;
  top: 0.5em;
  float: left;
}
.list {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-around;
  margin: 5px, 5px;
  padding: 10px;
  width: 98.7%;
  height: 12em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.listName {
  color: white;
  margin: 1rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 10%;
  height: 100%;
  width: 100%;
}
p {
  color: white;
}
